*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display {
  width: 100%;
  height: 500px;
  /* background: rgb(51,51,51); */
  background-image: url("./images/house.jpg");
  background-position: 50% 80%;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display .filter p {
  font-size: 3rem;
}

input {
  padding: 10px;
  margin : 4%;
  font-size: 1.2rem;
}

button {
  border: none;
  padding: 10px;
  margin : 4%;
  font-size: 1.2rem;
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  width: 18%;
}

.Reset {
  background: red;
}

.Yes {
  background: red;
}

.gsbtns {
  display: flex;
  width: 50%;
}

.gsbtns button {
  width: 50%;
  /* font-size: .3rem; */
}

.hide {
  display: none;
}